body {
	font-family: Helvetica, sans-serif;
}

main {
	padding: 1em;
}

section {
	margin-bottom: 2em;
}

h1 {
	font-size: 1.8em;
	margin-bottom: 0.6em;
}

p {
	margin-bottom: 0.6em;
}

a {
	color: blue;
	text-decoration: none;
}